[workspace]
resolver="2"
members = [
    "tool",
    "libs/*",
    "server",
]
default-members=["server"]

[workspace.dependencies]
# don't use native tls / openssl !!!  use rustls instead.
reqwest = { version = "0.11.22",default-features = false, features = ["json",  "rustls-tls"] }
sqlx = {version = "0.7.2",features = ["runtime-tokio-rustls"]}

## common libs
anyhow = "1.0.77"
chrono = "0.4.31"
async-trait = "0.1.75"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
async-channel = "2.1.1"