<h4>{{sql}}</h4>

% link_table_detail = True if sql == "show tables" else False


% if items:
<table>
    <thead>
    <tr>
        % for column in items[0]:
        <th>{{column}}</th>
        % end
    </tr>
    </thead>
    <tbody>
        % for rows in items[1:]:
        <tr>
            % for row in rows:
            <td>
                % if link_table_detail:
                <a href="javascript:;" onclick="checkTableDetail('{{row}}')">{{row}}</a>
                % elif '\n' in row:
                <pre>{{row}}</pre>
                % else:
                {{row}}
                % end
            </td>
            % end
        </tr>
        % end
    </tbody>
</table>
%else:
<h3>No Data.</h3>
%end