<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/classless.css">
</head>
<body>
{{include('fragments/top.html')}}

<h2>Page List</h2>
<ul>
    <li>
        <a href="/static/str-joiner.html" target="_blank">String Joiner</a>
    </li>
    <li>
        <a href="/static/py-runner.html" target="_blank">Python Runner</a>
    </li>
    <li>
        <a href="/api-entry/list" target="_blank">API Manager</a>
    </li>
    <li>
        <a href="/static/sql-runner.html" target="_blank">SQL Runner</a>
    </li>
    <li>
        <a href="/static/text-compare.html" target="_blank">Text Compare</a>
    </li>

    <li>
        <a href="/todo/list">Todo Manager</a>
    </li>
</ul>

</body>
</html>