<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play tool</title>
    <link rel="stylesheet" href="/static/css/classless.css">
    <link rel="icon" href="/static/icon.png">

</head>
<body>
{{include('/fragments/top.html')}}


<div class="row">
    <div class="col">

        <h2>System Tools</h2>
        <ul>
            <li>
                <a href="/static/str-joiner.html">String Joiner</a>
            </li>
            <li>
                <a href="/static/py-runner.html">Python Runner</a>
            </li>
            <li>
                <a href="/api-entry/list">API Manager</a>
            </li>
            <li>
                <a href="/static/sql-runner.html">SQL Runner</a>
            </li>
            <li>
                <a href="/static/text-compare.html">Text Compare</a>
            </li>
            <li>
                <a href="/static/page-editor.html">Page Editor</a>
            </li>
        </ul>

    </div>
    <div class="col">

        <h2>Business Pages</h2>
        <ul>
            <li>
                <a href="/todo/list">Todo Manager</a>
            </li>
            % for item in pages :
            <li>
                <a target="_blank" href="/pages{{item.url}}">{{item.title}}</a>
            </li>
            % end

        </ul>

    </div>
</div>
{{include('/fragments/bottom.html', built_time=built_time)}}
</body>
</html>