
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Information Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        .section {
            background: #fff;
            margin: 20px 0;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: scroll;
        }
        .section-title {
            font-size: 24px;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Exchange Rates Section -->
        <div class="section">
            <h2 class="section-title">Exchange Rates</h2>
            <span>time : {{items[0].time}} (UTC)</span>
            <table>
                <tr>
                    <th>Currency Pair</th>
                    <th>Rate</th>
<!--                    <th>Time(UTC)</th>-->
                </tr>
                % rate_map = {}
                % for item in items:
                % rate_map[item.source+item.target] = item.rate
                <tr>
                    <td>{{item.source}} / {{item.target}}</td>
                    <td>{{item.rate}}</td>
<!--                    <td>{{item.time}}</td>-->
                </tr>
                %end

            </table>
        </div>

        % stock_price_map = {}

        <!-- Stock Information Section -->
        <div class="section">
            <h2 class="section-title">Markets</h2>
            <span>US : {{us_stock_status}} | HK : {{hk_stock_status}}</span>
            <table>
                <tr>
                    <th>Symbol</th>
                    <th>Market</th>
                    <th>Price</th>
                    <th>Change</th>
                    <th>Previous Close</th>
                </tr>
                % for item in stock_items:
                % stock_price_map[item.symbol] = item.price.price
                <tr>
                    <td>
                    % if item.market == "US_STOCK":
                    <a href="https://finance.yahoo.com/quote/{{item.symbol}}?p={{item.symbol}}&.tsrc=fin-srch" target="_blank">{{item.symbol}}</a>
                    %elif  item.market == "HK_STOCK":
                    <a href="https://www.hkex.com.hk/Market-Data/Securities-Prices/Equities/Equities-Quote?sym={{item.symbol}}&sc_lang=en" target="_blank">{{item.symbol}}</a>
                    %elif  item.market == "CRYPTO":
                    <a href="https://www.binance.com/en/trade/{{item.symbol}}?type=spot" target="_blank">{{item.symbol}}</a>
                    %else:
                    {{item.symbol}}
                    % end
                   </td>
                    <td>{{item.market}}</td>
                    <td>{{item.price.price}}</td>
                    <td>{{item.price.change_percent}}</td>
                    <td>{{item.price.previous_close}}</td>
                </tr>

                %end

            </table>
        </div>

        <!-- Portfolio Holdings Section -->
        <div class="section">
            <h2 class="section-title">Portfolio Holdings</h2>
            <table>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Entry Price</th>
                    <th>Current Price</th>
                    <th>Total Invest</th>
                    <th>Total Return</th>
                </tr>

                % total_invest = 0
                % total_return = 0
                % for item in portfolio_items:

                % current_price = float(stock_price_map[item.symbol])
                % total_invest = total_invest+ (item.price * item.quantity / float(rate_map['USDHKD'])  if item.tag=="HK$" else item.price * item.quantity)
                % total_return = total_return+ (current_price * item.quantity / float(rate_map['USDHKD'])  if item.tag=="HK$" else current_price * item.quantity)
                % total_invest = round(total_invest,2)
                % total_return = round(total_return,2)
                <tr>
                    <td>{{item.symbol}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.tag}}{{item.price}}</td>
                    <td>{{item.tag}}{{current_price}}</td>
                    <td>{{item.tag}}{{round(item.price * item.quantity,2)}}</td>
                    <td>
                        {{item.tag}}{{round(current_price * item.quantity,2)}}
                        (
                        %if current_price > item.price:
                        +
                        %end
                        {{round(current_price * item.quantity - item.price * item.quantity,2)}}
                        )
                    </td>
                </tr>

                %end

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{total_invest}}</td>
                    <td>${{total_return}}</td>
                </tr>


            </table>
        </div>

        <!-- Profit and Loss Section -->
<!--        <div class="section">-->
<!--            <h2 class="section-title">Profit and Loss</h2>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Month</th>-->
<!--                    <th>Profit/Loss</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>January</td>-->
<!--                    <td>+$1,000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>February</td>-->
<!--                    <td>-$200</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
    </div>
</body>
</html>
