<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/classless.css">
    <link rel="icon" href="/static/icon.png">
    <link rel=stylesheet href="/static/font-awesome/5.15.1/css/all.min.css">
    <link rel=stylesheet href="/static/css/floating_nav.css">

</head>
<body>
<a href="/" >Home</a>
<a href="/admin" >Admin</a>

<!-- 浮动小球按钮 -->
<a href="/" id="homeButton" class="floating-button">
    <i class="fas fa-home"></i>
</a>


<h2>Admin operations be careful!</h2>
<div>


    <form>
        <p>{{config_path}}</p>
        <label>
            <textarea id="configText" name="new_content" style="width: 100% ; height: 300px">{{config_content}}</textarea>
        </label>

        <div>
            <button type="button" onclick="saveConfig(configText.value)">save config</button>
            <button type="button" onclick="reboot()">reboot</button>
            <span id="saveResult"></span>
        </div>


    </form>

    <form hx-get="/admin/logs" hx-target="#logDiv">

        <pre id="logDiv">

        </pre>

        <button type="submit">load logs</button>
    </form>


</div>

<script>
    function saveConfig(val){
        let data =new URLSearchParams();
        data.append("new_content", val);
        fetch('/admin/save-config', {method: "POST",body: data, headers: {"Content-Type": "application/x-www-form-urlencoded"}})
            .then(response => {
                // if (!response.ok) { // If the response status is not 200-299
                //     throw new Error('Network response was not ok: ' + response.status);
                // }
                return response.text();
            })
            .then(data => {
                // Process your data here
                saveResult.innerText = data;
            })
            .catch(error => {
                console.log()
                saveResult.innerText = error.message;
            });
    }
    function reboot(){
        fetch('/admin/reboot', {method: "GET"})
            .then(response => {
                // if (!response.ok) { // If the response status is not 200-299
                //     throw new Error('Network response was not ok: ' + response.status);
                // }
                return response.text();
            })
            .then(data => {
                // Process your data here
                saveResult.innerText = data;
            })
            .catch(error => {
                console.log()
                saveResult.innerText = error.message;
            });
    }

</script>
<p>built time :  {{built_time}} (UTC)</p>
<script src="/static/js/htmx.min.js"></script>
</body>
</html>