

<h2>Admin operations be careful33!</h2>
<div>
    <div class="row">
        <div class="col">
            <form hx-get="/admin/upgrade" hx-target="#result">
                <label>
                    upgrade url :
                    <input name="url" type="text" value="{{upgrade_url}}"
                           placeholder="paste a valid http  download url"/>
                </label>
                <button type="submit">upgrade app</button>
                <p id="result"></p>
            </form>

        </div>
        <div class="col">
            <h3>shutdown app</h3>
            <button type="button" hx-get="/admin/shutdown">shutdown</button>

        </div>
    </div>
    <hr/>
    <hr/>

    <form hx-post="/admin/save-config" hx-target="#save-result">
        <p>{{config_path}}</p>
        <label>
            <textarea name="new_content" style="width: 100% ; height: 200px">{{config_content}}</textarea>
        </label>

        <div>
            <button type="submit">save config</button>
            <span id="save-result"></span>
        </div>


    </form>

    <form hx-get="/admin/logs" hx-target="#logDiv">

        <pre id="logDiv">

        </pre>

        <button type="submit">load logs</button>
    </form>


</div>
